spring:
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: validate
  config:
    activate:
      on-profile: prod

logging:
  level:
    com.rms: INFO
    org.springframework.web: WARN
  file:
    name: /var/log/rms/application.log

app:
  qr:
    base-url: https://yourdomain.com
    size: 400
